body {

}

.ConductTransaction{
	width: 100%;
}

.recipient{
	padding-left: 250px;
}

.ConductTransaction .form-group {
  width: 46%;
}

.form-control {
  width: 100% !important;
  font-size: 20px;
}

.cus-btn{
  font-size: 20px;
}

.Profile{
	position: fixed;
	width: 250px;
	word-wrap: break-word;
	height: 100%;
}

.Navbar{
	margin-left: 250;
	margin-top: 50px; 
}

.nav{
	padding-left: 250px;
}

.Blocks{
	margin-left: 300px;
}